@import '../../../common_scss/mixins';
@import '../../../common_scss/variables';

.main-container{
  margin-top: 80px;
  padding-left: 15px;
  @include flexbox(row, nowrap, space-around, flex-start);
  position: relative;
  min-height: 830px;
}
.gear-cont{
  display: none;
  @include fonts('Roboto,400',15px);
  color: $secondColor;
  img{
    @include dimentions(25px,25px);
    margin: 0 15px;
  }
}
.new-products{
    @include flexbox(row, wrap, space-around, flex-start);
    margin-bottom: 15px;
    .product{
       margin: 10px;
       @include dimentions(220px,330px);
       @include flexbox(column, wrap, flex-start, center);
       @include fonts($mainFont,17px);
       background-color: white;
       border-radius: 5px;
       box-shadow: 0 0 5px 2px gray;
       .p-image{
        @include dimentions(210px,200px);
        margin-bottom: 10px;
        margin-top: 5px;
        }
        h6{
          margin-top: 5px;
          margin-bottom: 10px;
          color: $mainColor;
        }
        .add-btn{
         font-size: 14px;
         font-family: 'Montserrat,500';
        }
    }
}

.toggle-filters-container{
  @include flexbox(column, wrap, flex-start, flex-start);
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  border: 1px solid rgb(184, 183, 183);
  padding: 15px;
  background-color: whitesmoke;
}
.filters-container{
  @include flexbox(column, wrap, flex-start, flex-start);
}
.price-filter{
  @include flexbox(column, wrap, flex-start, flex-start); 
  width: 180px;
  margin-bottom: 20px;  
  padding: 20px;
  background-color: white;
}   
.stone-name-filter,.stone-color-filter,.zodiak-filter{
  @include flexbox(column, wrap, flex-start, flex-start);
  width: 180px;
  margin-bottom: 20px;  
  padding: 20px;
  background-color: white;
}

.sel-title{
  @include fonts($mainFont, 17px);
  color: $mainColor;  
  }

.stone-list, .color-list, .zodiac-list{
  @include dimentions(160px, 180px); 
  overflow-y: scroll;
  }

.stone-name, .stone-color, .zodiac{
  @include fonts($mainFont, 15px);
  color: $secondColor; 
  height: 15px;
  line-height: 15px;
  margin-left: 10px;
  }
.stone-name:hover,
.stone-color:hover,
.zodiac:hover{
  color:$mainColor;
  }
.stone-name:first-child,
.stone-color:first-child,
.zodiac:first-child{
  text-decoration: underline;
}
.chosen{
  text-align: center;
  @include fonts($mainFont, 15px);
  color: $mainColor; 
  height: 15px;
  line-height: 15px;
  margin-left: 30px;
}
.sortDirection{
  @include fonts($mainFont, 15px);
 color: $secondColor; 
 height: 20px;
 margin-left: 10px; 
}
  .switch{
    margin-bottom: 20px;
    height: 60px;
    @include flexbox(row, nowrap, center, center);
    background-color: white;
    b{
      color:$secondColor;
      margin:5px;
    }
    .bt-width{
      width: 120px;
      padding: 5px;
    }
  }
  .no-data{
    @include flexbox(row, nowrap, center, center);
    height: 60px;
    color: $mainColor;
    font-family: 'Roboto,400';
    font-size: 15px;
  }

@media screen and (max-width: 1200px){
  .new-products{
    width: 870px;
  }
}  

@media screen and (max-width:937px){
  .main-container{
    margin-top: 10px;
    padding-left: 0;
  }
  .new-products{
    width: 760px;
  }
  .filters-container{
    display: none;
  }
  .gear-cont{
    display: flex;
    align-self: flex-end;
    margin-top: 70px;
  }
}
@media screen and (max-width: 740px){
  .new-products{
    width: 600px;
  }
}

@media screen and (max-width: 542px){
  .new-products{
    width: 370px;
    @include flexbox(row, wrap, space-around, flex-start);
    .product{
      @include dimentions(290px,430px);
      margin-bottom: 25px;
      .p-image{
        @include dimentions(280px,270px);
      }
    }
  }
}
@media screen and (max-width: 400px){
  .switch{
    .bt-width{
      height:40px;
      width: 83px;
      font-size: 12px;
      font-family: 'Montserrat,600';
      padding: 3px;
    }
    b{
      font-size: 14px;
      margin:4px;
    }
  }
}
@media screen and (max-width: 373px){
  .new-products{
    .product{
      @include dimentions(230px,370px);
      margin-bottom: 25px;
      .p-image{
        @include dimentions(220px,210px);
      }
    }
  }
}
@media screen and (max-width: 335px){
  .new-products{
    width: 220px;
    .product{
      @include dimentions(200px,340px);
      margin-bottom: 25px;
      .p-image{
        @include dimentions(190px,180px);
      }
    }
  }
}