@import '../../../common_scss/mixins';
@import '../../../common_scss/variables';

.new-products{
    @include flexbox(row, wrap, flex-start, flex-start);
    // background-color: white;
    margin-bottom: 15px;
    .product{
       margin: 20px;
       @include dimentions(220px,340px);
       @include flexbox(column, wrap, flex-start, center);
       @include fonts($mainFontF,15px);
       background-color: white;
       border-radius: 5px;
       box-shadow: 0 0 5px 0 gray;
       .p-image{
        @include dimentions(220px,200px);
        margin-bottom: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        }
        p{
          color:$secondColor;
          text-align: center;
        }
        h6{
          color: $mainColor;
        }
        .button{
        @include dimentions(90px,30px);
        background-color: $mainColor;
        color: white;
        text-align: center;
        line-height: 30px;
        border-radius: 10px;
        &:hover{
          // color: $secondColor;
          box-shadow: 0 0 3px 1px $mainColor;
        }
        // @include fonts()
        }
    }
}

.switch{
  height: 60px;
  @include flexbox(row, nowrap, center, center);
  background-color: white;
  a{
      @include dimentions(8px, 8px);
      border: 1px solid $mainColor;
      border-radius: 50%;
      margin: 5px;
      &:active{
      background-color: $mainColor;
      }
      &:hover{
        background-color: $mainColor;
        }
  }
}

.price-title{
  @include fonts($mainFont, 16px);
  color: $secondColor;  
}
 
.price-filter{
 @include flexbox(row, wrap, space-around, flex-start);
 margin: 20px;  
 padding: 20px;
 background-color: white; 
}   
.filters-container{
  @include flexbox(row, wrap, space-around, flex-start);
}

.stone-name-filter,.stone-color-filter,.zodiak-filter{
  @include flexbox(column, wrap, flex-start, flex-start);
  // @include dimentions(250px, 300px); 
  width: 200px;
  margin: 20px;  
  padding: 20px;
  background-color: white;
  // z-index: 3;
}

.sel-title{
  @include fonts($mainFont, 17px);
  color: $mainColor;  
  }

.stone-list, .color-list, .zodiac-list{
  @include dimentions(180px, 100px); 
  overflow-y: scroll;
  // z-index: 4;

  }
.stone-name, .stone-color, .zodiac{
  @include fonts($mainFont, 15px);
  color: $secondColor; 
  height: 15px;
  line-height: 15px;
  margin-left: 10px;
  }
.stone-name:hover,
.stone-color:hover,
.zodiac:hover{
  color:$mainColor;
  }