<carousel [isAnimated]="true" class="text-center">
    <slide>
      <img class="img-size" src="../../../assets/images/30043.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption">
        <h3>kjtklrj trklj </h3>
        <p>ejrhgjk er htjhg jrthgjh4jyjhyjh6 y</p>   
    </div>
    </slide>
    <slide>
      <img  class="img-size" src="../../../assets/images/earrings.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="img-size" src="../../../assets/images/nefryt.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>