<!-- <div class="jumbotron"> -->
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
      <!-- <div class="col-sm-12"> -->
        <carousel [isAnimated]="true" class="text-center">
          <slide>
            <a [routerLink]="['/catalogue', 'menu', 'bracelet']">
            <img class="img-size" src="../../../assets/images/bracelet-m.jpg" alt="first slide"
              style="display: block; width: 100%;">
            </a>
            <div class="carousel-caption">
              <h3>браслети</h3>
              <!-- <button >браслети</button> -->
              <p>класичні та авторські роботи</p>
              <!-- <button class="btn btn-dark" [routerLink]="['/catalogue', 'menu', 'necklace']">hjjgh</button> -->
            </div>
          </slide>
          <slide>
            <a [routerLink]="['/catalogue', 'menu', 'necklace']">
            <img class="img-size" src="../../../assets/images/rose-neckl.jpg" alt="second slide"
              style="display: block; width: 100%;"></a>
            <div class="carousel-caption">
              <h3>намиста</h3>
              <p>класичні та авторські роботи</p>
            </div>
          </slide>
          <slide>
            <a [routerLink]="['/catalogue', 'menu', 'pendant']">
            <img class="img-size" src="../../../assets/images/kulony-s-kamnyami.jpg" alt="third slide"
              style="display: block; width: 100%;"></a>
            <div class="carousel-caption">
              <h3>кулони</h3>
              <p>класичні та авторські роботи</p>
            </div>
          </slide>
          <slide>
            <a [routerLink]="['/catalogue', 'menu', 'earring']">
            <img class="img-size" src="../../../assets/images/ear-bl.jpg" alt="fourth slide"
              style="display: block; width: 100%;"></a>
            <div class="carousel-caption">
              <h3>сережки</h3>
              <p>класичні та авторські роботи</p>
            </div>
          </slide>
        </carousel>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->