@import '../../common_scss/mixins';
@import '../../common_scss/variables';

.main-container{
    margin-bottom: 20px;
}
.img-size{
    width: 80vw;
    height: 35vw;

}
.carousel-control.right{
    cursor: progress;
}
.carousel-control.left{
    cursor: pointer;
}

p{
    margin-top: -10px;
    margin-bottom: -7px;
}