<form>
  <div class="row">
    <div class="form-group col-4 ml-1">
      <label for="nameEN">Name En</label>
      <input [(ngModel)]="nameEN" #inpNameEN="ngModel" name="nameEN" type="text" id="nameEN" class="form-control" required>
    </div>
    <div class="form-group col-4">
      <label for="nameUA">Name UA</label>
      <input [(ngModel)]="nameUA" #inpNameUA="ngModel" name="nameUA" type="text" id="nameUA" class="form-control" required>
    </div>
    <div class="form-group col-3" style="margin-top: 32px">
      <button [disabled]="inpNameEN.invalid || inpNameUA.invalid" class="btn bt " (click)="addCategory()">Add</button>
    </div>
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name EN</th>
      <th scope="col">Name UA</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of adminCategory">
      <td>{{ c.id | slice:0:3}}</td>
      <td>{{ c.nameEN }}</td>
      <td>{{ c.nameUA }}</td>
      <td>
        <input type="button" value="delete" class="btn btn-dark" (click)="deleteCategory(c,template)">
      </td>
    </tr>
  </tbody>
</table>

<ng-template #template >
  <div class="modal-body text-center" >
    <button type="button" class="btn bt col-5 m-2" (click)="decline()" >dismiss</button>
    <button type="button" class="btn btn-dark col-5 m-2" (click)="confirmDeleteCategory(c)" >delete</button>
  </div>
</ng-template>