@import '../../common_scss/mixins';
@import '../../common_scss/variables';

.cont-centered{
  @include flexbox(column, wrap, center, center);
  padding: 20px;
}
.empty-basket{
  @include flexbox(column, wrap, center, center);
  height: 300px;
}
.smt-basket{
  padding: 5px 60px 0;
  background-color:white;
}
.table {
    display: table;
    width: 100%;
    background-color: white;
  }
.table .td {
  display: table-cell;
  padding: 0 4px ;
}
.table .tr {
  display: table-row;
  color:$secondColor;
  border: 1px solid transparent;
  border-bottom-color: rgb(202, 201, 201);
}
.thead{
  @include fonts($mainFont, 16px);
  color:$mainColor;
  height: 40px;
  margin: 15px 0;
  .td{
  width: 130px;
  overflow: hidden;
  color:$mainColor;
  }
}
.tbody{
  font-family: 'Roboto,400';
  span{
    font-family: $mainFont;
    font-size: 22px;
    margin: 0 15px;
    &:hover{
      color:$mainColor;
    }
  }
  .table-item{
    display: none;
    font-size: 14px;
  }
  img{
    @include dimentions(70px,70px);
    margin: 5px;
  }
} 

.second-cross{
  display: none;
  margin: 5px;
font-size: 30px;

}
.tfoot{
  .td{
    @include fonts($mainFont, 17px);
    color: $secondColor;
    }
}

// ------order-------

  .order-data{
    @include flexbox(row, wrap, center, flex-start);
    color:$secondColor;
      background-color: white;
      margin: 15px 15px 0 15px;
    .delivery,.payment{
      width: 350px;
      margin: 10px 30px;
      padding: 20px;
      h5{
      @include fonts($mainFont, 17px);
      }
    }
  }
  p,span{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Roboto,400';
  }
.buy{
  color: $secondColor;
  margin: 0 15px 20px;
  padding-bottom: 20px;
  background-color:white;
  @include flexbox(column, wrap, center, center);
  button{
    width: 250px;
  }
}
  .inp{
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 3px;
    color: $secondColor;
    &:focus{
      box-shadow: 0 0 1px 2px $secondColorLt;
    }
  }
  .comment{
    width: 720px;
    padding: 5px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 3px;
    color: $secondColor;
    outline: none;
    &:focus{
      outline: none;
      border: 2px solid $secondColor;
    }
  }

  /* inputs */

/*Radio CheckBox*/

.inpRadio {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  min-width: 20px;
  min-height: 20px;
}

.inpRadio input {
  display: none;
}

.inpRadio input:checked + span:before {
  background-position: center center;
}

.inpRadio input:checked + span:after {
  transform: scale(1);
  opacity: 1;
}

.inpRadio span {
  position: relative;
  font-size: 17px;
  line-height: 22px;
  padding-left: 22px;
  display: block;
  font-family: 'Roboto,400';
}

.inpRadio span:before {
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 2px $mainColor solid;
  border-radius: 1px;
  z-index: 1;
  content: "";
}

.inpRadio span:after {
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  background:$mainColor;
  transform: scale(0.05);
  transition: opacity .150s linear, transform .150s linear;
  content: '';
}

.inpRadio.radio span:before {
  border-radius: 10px;
  background: none;
}

.inpRadio.radio span:after {
  border-radius: 100%;
}

@media screen and (max-width: 1200px){
  .smt-basket{
    padding: 5px 0px 0;
  } 
  .tfoot{
    .total{
      padding: 0 50px 0 0;
      margin: 0 50px;
    }
  }
}

@media screen and (max-width: 910px){
  .comment{
    width: 350px;
  }  
}

@media screen and (max-width: 750px){
  .tfoot{
    .total{
      padding: 0 12px 0 0;
    }
  }
}

@media screen and (max-width: 520px){
  .table{
  @include flexbox(row, wrap, center, center);
  }
  .table .tr{
  @include flexbox(column, nowrap, center, center);
  margin: 5px; 
  }
  .table .thead{
    display: none;
  }
  .tbody{
    .del{
      display: none;
    }
  }
  .tbody{
    span{
      margin-left: 0px;
      margin-right: 10px;
    }
    .table-item{
      display: inline;
    }
  }
  .tfoot{
    .total{    
      margin: 0 25px;
    }
  }
.tbody{
    word-break: break-all;
  img{
    @include dimentions(135px,135px);
  }
}
.second-cross{
  display: inline-block;
}
// ------order-------
  .order-data{
     .delivery,.payment{
      width: 290px;
      margin: 10px 5px;
    }
  }
  .comment{
    width: 250px;
  }
}

@media screen and (max-width: 370px){
  .order-data{
    .delivery,.payment{
     width: 200px;
     margin: 10px 0px;
   }
 }
 .comment{
   width: 200px; 
 }
 .buy{
   button{
     width: 200px;
     margin-left: 7px;
   }
  }
}

@media screen and (max-width: 300px){
  .buy{
    button{
      margin-left: 2px;
    }
  }
}