<div class="container">
    <div class="col-lg-12 empty-basket" *ngIf="!orders.length">
        <p>Кошик порожній.</p>
        <a routerLink="/catalogue" style="color:#ff5912">Повернутись до покупок</a>
    </div>


    <div class="col-lg-12 mt-5 smt-basket" *ngIf="orders.length">
        <div class="table">
            <div class="tr thead">
                <div class="td"></div>
                <div class="td">Товар</div>
                <div class="td">Ціна</div>
                <div class="td">Кількість</div>
                <div class="td">Загалом</div>
            </div>
            <div class="tr tbody" *ngFor="let order of orders">
                <div class="td del" (click)="deleteProduct(order)"><span>&times;</span></div>
                <div class="td">{{order?.nameUA}}</div>
                <div class="td">{{order?.price}} грн</div>
                <div class="td">
                    <app-counter [product]="order" (changeCount)="detectChangeCount($event)"></app-counter>
                </div>
                <div class="td"><span>{{order?.count * order?.price}} грн</span></div>
            </div>
            <div class="tr tfoot">
                <div class="td"></div>
                <div class="td"></div>
                <div class="td"></div>
                <div class="td"></div>
                <div class="td">
                    <hr>
                    Всього: <span>{{totalPrice}} грн</span></div>
            </div>
        </div>
    </div>
    <hr>
    <div *ngIf="orders.length">
        <form #orderForm="ngForm" novalidate (ngSubmit)="addOrder()">
            <div class="order-data row">
                <div class="delivery">
                    <h5>Спосіб доставки:</h5>
                    <div class="deliveryCheckboxs">
                        <label class="checkboxEntry radio">
                            <input (click)="getDelivery('нова пошта')" type="radio" name="delivery" value="Novaposhta" checked="checked"><span> Нова
                                пошта</span>
                        </label>
                        <label class="checkboxEntry radio ml-3">
                            <input (click)="getDelivery('укрпошта')" type="radio" name="delivery" value="Ukrposhta"><span> Укрпошта</span>
                        </label>
                    </div>
                    <p>Місто*:</p>
                    <input type="text" [(ngModel)]="userCity" name="userCity" required>
                    <p>Номер відділення*:</p>
                    <input type="text" [(ngModel)]="deliveryDepartment" name="deliveryDepartment" required>
                    <p>Коментар:</p>
                    <textarea [(ngModel)]="userComments" name="userComments" id="" cols="33" rows="3"></textarea>
                </div>
                <div class="payment">
                    <h5>Спосіб оплати:</h5>
                    <div class="paymentCheckboxs">
                        <label class="checkboxEntry radio">
                            <input (click)="getPayment('на карту')" type="radio" name="payment" value="card" checked="checked"><span> На карту</span>
                        </label>
                        <label class="checkboxEntry radio ml-3">
                            <input (click)="getPayment('при доставці')" type="radio" name="payment" value="after"><span> Оплата при доставці</span>
                        </label>
                    </div>
                    <p>Ваше ім'я*:</p>
                    <input type="text" [(ngModel)]="userName" name="userName" required>
                    <p>Ваш номер телефону*:</p>
                    <input type="tel" [(ngModel)]="userPhone" name="userPhone" required>
                    <p style="margin-top: 35px; margin-bottom: 10px;">* поля обов'язкові до заповнення</p>
                    <button [disabled]="orderForm.invalid" type="submit" class="btn btn-dark">офрмити
                        замовлення</button>
                </div>
            </div>
        </form>
    </div>

</div>