@import '../../common_scss/mixins';
@import '../../common_scss/variables';

footer{
    background-image: url('../../../assets/images/foot.jpg');
    // background-size: 100% 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

.foot{
    height: 250px;
    padding: 5px;
    // background-color: rgba(15, 15, 15, 0.301);
    @include flexbox(row, wrap, space-between, center);
    .foot_left{
        margin-left: 20px;
        .logo{
            width: 127px;
            @include flexbox(row, wrap, space-between, center);
            img{
               @include dimentions(45px,45px);
               opacity: 0.7;
               padding-right: 5px;
               }
            .logo_text{
               @include fonts($mainFont, 26px);
               color: $mainColor;
               // text-transform: uppercase;
              }
             p{
               @include fonts($mainFont, 9px);
               color: $secondColor;
               margin-top: -7px;
               letter-spacing: 1px;
             }   
         }
         p{
            @include fonts($secondFont, 15px);
            font-weight: 500;
            color: $secondColor;   
         }
    }
    .foot_right{
        width: 60%;
        @include flexbox(row, wrap, space-around, center);
        margin-right: 20px;
        color: $secondColor;   
        @include fonts($mainFont, 15px);
        li:hover{
            color: $mainColor;
        }
    }
}
}


















