<footer>
    <div class="foot">
        <div class="foot_left">
            <div class="logo">
                <img src="../../../assets/icons/images.png" alt="">
                <div>
                    <span class="logo_text">scharl</span>
                    <p>natural stones</p>
                </div>
            </div>
            <p>Класичні та авторські прикраси з натурального каміння.</p>
        </div>
        <div class="foot_right">
            <div class="f1">
                <li>про нас</li>
                <li><a [routerLink]="[ '/more' ]" routerLinkActive="active">більше про натуральні камені</a></li>
            </div>
            <div class="f2">
                <li><a [routerLink]="[ '/payment' ]" routerLinkActive="active">способи доставки</a></li>
                <li><a [routerLink]="[ '/payment' ]" routerLinkActive="active">оплата</a></li>
            </div>
        </div>
    </div>
</footer>