@import '../../common_scss/mixins';
@import '../../common_scss/variables';

footer{
    background-color:white;
.foot{
    height: 250px;
    padding: 5px;
    @include flexbox(row, wrap, space-between, center);
    .foot_left{
            width: 30%;
            margin-left: 23px;
        .logo{
            width: 120px;
            @include flexbox(row, wrap, space-between, center);
            img{
               @include dimentions(45px,45px);
               margin-bottom: 10px;
               }
            .logo_text{
               @include fonts($mainFont, 26px);
               color: $mainColor;
              }
             p{
               @include fonts($mainFont, 9px);
               color: $secondColor;
               margin-top: -7px;
               letter-spacing: 1px;
             }   
         }
         p{
            @include fonts($secondFont, 15px);
            font-weight: 500;
            color: $secondColor; 
         }
    }
    .foot_right{
        width: 60%;
        @include flexbox(row, wrap, flex-start, center);
        margin-right: 20px;
        color: $secondColor;   
        @include fonts($mainFont, 15px);
        .f1,.f2{
            margin-left: 20px;
        }
        li:hover{
            color: $mainColor;
        }
    }
}
}

@media screen and (max-width: 465px){
  footer{
    .foot{
        .foot_left{
            width: 90%;
        }
        .foot_right{
        width: 100%;
        }
    }
  }
}
















