@import '../../common_scss/mixins';
@import '../../common_scss/variables';

header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 110;
  background-image: url('../../../assets/images/footerBL.jpg');
  background-size: cover;
.inform{
 height: 40px;
 border: 1px solid transparent;
 border-bottom-color:rgb(231, 229, 229);
//  background-color:$mainColor;
 background-color: white;
 @include flexbox(row, nowrap, space-between, center);
 padding: 5px;
   &_left{
    margin-left: 20px;   
    width: 330px;
    color: $secondColor;
    @include fonts($mainFont, 12px);
    @include flexbox(row, nowrap, space-between, center);
    img{
      margin: 4px;
      @include dimentions(16px,16px);
      }
   }
   &_right{
    @include flexbox(row, nowrap, space-around, center);
    width: 120px;
    margin-right: 20px;
    img{
      margin: 4px;
      @include dimentions(16px,16px);
      // padding:3px;
      // background-color :white;
      // border-radius: 3px;
      }
    img:hover{
      @include dimentions(19px,19px);
    }
   }
}
.hdr{
    height: 100px;
    // padding: 5px;
    background-color: white;
    border: 2px solid transparent;
    border-bottom-color: rgb(231, 229, 229);
    @include flexbox(row, wrap, space-between, center);
    &_left{
      margin-left: 20px;   
      @include flexbox(row, wrap, space-between, center);
      .logo{
         @include flexbox(row, wrap, space-between, center);
         padding: 5px;
         img{
            @include dimentions(45px,45px);
            opacity: 0.7;
            padding-right: 5px;
            }
         .logo_text{
            @include fonts($mainFont, 26px);
            color: $mainColor;
           }
          p{
            @include fonts($mainFont, 9px);
            color: $secondColor;
            margin-top: -7px;
            letter-spacing: 1px;
          }
      }
      .pages{
          margin-left: 50px;
          width: 570px;
          display: block;
          @include fonts($mainFont, $fontSizeXS);
          @include flexbox(row, wrap, center, center);
          }  
      .part1,.part2{
        width: 280px;
        @include flexbox(row, wrap, space-around, center);
      }        
    }
    &_right{
        width: 120px;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: -15px;
        @include flexbox(row, wrap, space-between, center);
        @include fonts($mainFont, $fontSizeXS);
        .basket{
          margin-top: 25px;
          width: 70px;
          img{
            // margin: 4px;
            @include dimentions(24px,24px);
           }
          .sum{
          @include dimentions(30px,23px);
          background-color: $secondColor;
          color: white;
          @include fonts($mainFont, 11px);
          box-shadow: 0 0 2px 0 whitesmoke;
          border-radius: 50%;
          @include flexbox(row, wrap, space-around, center);
          position: relative;
          top: -38px;
          left: 13px;
          }
        }
        .sign:hover{
          color: $mainColor;
        }         
    }
    
}
}
.active{
  color: $mainColor;
  outline: none;
}

@media screen and (max-width: 970px){
  header{
    // border: 1px solid #000;
    .hdr{
      // border: 1px solid #000;
      &_left{
        // border: 1px solid #000;
        .pages{
          margin-left: 10px;
          width: 400px;
          display: none;

          // height: 60px;
          // border: 1px solid #000;
          @include flexbox(column, nowrap, space-between, center);
        }
        .part1,.part2{
          // width: 198px;
          display: none;

          @include flexbox(row, wrap, space-around, center);
        }        
      }
    }
  }


}

@media screen and (max-width: 768px){
  header{
    // border: 1px solid #000;
    .hdr{
      // border: 1px solid #000;
      &_left{
        // display: none;

        // border: 1px solid #000;
        .pages{
          display: none;

          width: 150px;
          // border: 1px solid #000;
          @include flexbox(row, wrap, space-around, center);
        
        .part1,.part2{
          // width: 280px;
          display: none;

          // @include flexbox(column, wrap, space-around, center);
        } 
      }       
      }
    }
  }


}