@import '../../common_scss/mixins';
@import '../../common_scss/variables';

.user-ord-container{
    margin: 20px 30px;
}
button{
    position: absolute;
    top:135px;
    right: 20px;
}
.first-line{
   @include flexbox(row, wrap, space-between,flex-start);
   color: $secondColor;
}
h6{
    @include fonts('Roboto,400', 18px);
    color: $secondColor;
  }
p{
    @include fonts('Roboto,400', 16px);
    line-height: 10px;
    margin-top: 7px;
}
.ord-type{
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.order-status{
    color:$mainColor;
}
.prev-order{
    color: $secondColor;
    @include fonts('Roboto,400', 16px);
    @include flexbox(column, wrap, flex-start, flex-start);
    background-color: white;
    margin: 10px 0 20px;
    padding: 10px;
    box-shadow: 3px 3px 3px $secondColor;
    .product-details{
        border: 1px solid transparent;
        border-top-color: rgb(224, 224, 224);
        border-radius: 3px;
        margin-top: 10px;
        @include flexbox(row, wrap, flex-start, flex-start);
        .image{
            img{
            @include dimentions(150px,150px); 
            margin: 10px;
            box-shadow: 3px 3px 3px rgb(192, 192, 192);
            border-radius: 3px;
            }
        }
        .details{
            margin-top: 10px;
            margin-left: 20px;
            width: 70vw;
            @include flexbox(column, wrap, flex-start, flex-start);
            span{
                margin-right: 30px;
            }
            P{
                line-height: 18px;
            }
        }
    }
    .line{
        width: 100%;
        border: 1px solid $mainColor;
    }
}

@media screen and (max-width: 1200px){
    .prev-order{
        .product-details{
            .details{
            width: 60vw;
            }
        }
    }
  }  
  
  @media screen and (max-width:970px){
    .prev-order{
        .product-details{
            .details{
            width: 50vw;
            }
        }
    }
  }

  @media screen and (max-width:650px){
    .prev-order{
        .product-details{
            .details{
            margin-left: 10px;
            width: 70vw;
            }
        }
    }
  }

  
  @media screen and (max-width:400px){
    .user-ord-container{
        margin: 20px 20px;
    }
    .prev-order{
        .product-details{
            .details{
            margin-left: 5px;
            }
        }
    }
  }