<div class="container">
    <h4>Контакти</h4>
<hr>
        <div class="write-on-messanger">
            <h5>Написати в месенджер:</h5>
            <p><img src="../../../assets/icons/viber.png" alt=""> Viber: +380971401561</p>
            <p><img src="../../../assets/icons/telegram.png" alt=""> Telegram: +380994107629</p>
            <p><img src="../../../assets/icons/Skype_logo.svg.png" alt=""> Skype: schorl.stones</p>
        </div>
        <hr>
        <div class="call">
            <h5>Зателефонувати:</h5>
            <p><img src="../../../assets/icons/phone.svg" alt="">+380971401561</p>
            <p><img src="../../../assets/icons/phone.svg" alt="">+380994107629</p>
        </div>
        <hr>
        <div class="write-on-email">
            <h5>Написати на пошту:</h5>
            <p><img src="../../../assets/icons/envelope-alt.svg" alt=""> schorl@gmail.com</p>
        </div>
    <hr>

</div>