<!-- <p>contacts works!</p> -->
<div class="contacts-container">
    <div class="contacts-title">
        <h4>Контакти</h4>
        <div class="line"></div>
        <div class="sm-line"></div>
    </div>
    <div class="contacts-type">
        <div class="write-on-messanger">
            <h5>Написати в месенджер:</h5>
            <p>Viber: +380971401561</p>
            <p>Telegram: +380994107629</p>
            <p>Skype: schorl.stones</p>
        </div>
        <div class="call">
            <h5>Зателефонувати:</h5>
            <p>+380971401561</p>
            <p>+380994107629</p>
        </div>
        <div class="write-on-email">
            <h5>Написати на пошту:</h5>
            <p>schorl@gmail.com</p>
        </div>
    </div>
    <hr>


</div>

