<!-- <p>necklace works!</p> -->
<div class="new-products">
    <div class="product">
        <img class="p-image" src="../../../assets/images/comm.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
       <div class="button">у кошик</div>
    </div>
    <!-- <div class="product"> -->
        <!-- <img class="p-image" src="../../../assets/images/comm.jpg" alt=""> -->
       <!-- <p>Браслет з аметисту</p> -->
       <!-- <h6>100</h6> -->
    <!-- </div> -->
    <div class="product">
        <img class="p-image" src="../../../assets/images/koral.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
       <div class="button">у кошик</div>
    </div>
    <div class="product">
        <img class="p-image" src="../../../assets/images/comm.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
       <div class="button">у кошик</div>
    </div>
</div>
<div class="switch">
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
</div>
