@import '../../../common_scss/mixins';
@import '../../../common_scss/variables';

.nav{
    margin: 20px;
}
.prod-details{
    background: white;
    @include flexbox(row, wrap,space-around,center);
    min-height: 440px;
    padding: 0 30px;
    .images-box{
        padding: 30px;
        margin-right: 0px;
        @include flexbox(row, wrap,center,flex-start);
        .big-image{
        @include dimentions(380px,380px);
        border: 5px groove rgb(219, 219, 219);
        }
    }
    .info-box{
        width: 50vw;
        min-height: 440px;
        line-height: 17px;
        padding: 20px 0;
        @include flexbox(column, wrap,flex-start,flex-start);
          h2{
            @include fonts($mainFont, 40px);
            color: $mainColor;
            }
          p{
            @include fonts($mainFont, 15px);
            color: $secondColor;
           } 

          h4{
            @include fonts($mainFont, 22px);
            color: $secondColor;
          }
          .more{
            @include fonts('Roboto,400', 16px);

          }
        
        .count{
          width: 170px;
          @include flexbox(row, wrap,space-between,flex-start);
          span{
            margin-top: -5px;
          }
        }
        .row-info{
          @include flexbox(row, wrap,space-between,center);
        }
        .bt{
          background-color: $mainColor;
          font-size: 16px;
          font-weight: 500;
          color: white;
          &:hover{
              box-shadow: 0 0 3px 2px $mainColor;
          }
      }

    }
}

@media screen and (max-width:1030px){
  .prod-details{
    .images-box{
      padding: 30px 10px 0 10px;
    }
    .info-box{
      padding: 20px 0px;
      width: 85vw;
      @include flexbox(column, wrap,flex-start,center);
    }
  }
}
@media screen and (max-width:430px){
  .prod-details{
    .images-box{
      .big-image{
        @include dimentions(300px,300px);
      }
    }
    .info-box{
      h2{
        @include fonts($mainFont, 30px);
        }
      width: 85vw;
      @include flexbox(column, wrap,flex-start,center);
    }
  }
}
@media screen and (max-width:340px){
  .prod-details{
    .images-box{
      padding: 20px 10px 0 10px;
      .big-image{
        @include dimentions(250px,250px);
      }
    }
  }
}
@media screen and (max-width:292px){
  .prod-details{
    .images-box{
      .big-image{
        @include dimentions(230px,230px);
      }
    }
  }
}
