@import '../../common_scss/mixins';
@import '../../common_scss/variables';

.bg-im{
    height: 30vw;
    background-image: url('../../../assets/images/ggg.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    @include flexbox(column, nowrap, center, flex-start);
    padding: 0 150px;

    // opacity: 0.3;
    }

// .main-text{
    // position: relative;
    // top: -130px;
    // left: 0px;
    // padding-left: 100px;
    h1{
        color: $mainColor;
        @include fonts($mainFont, 40px);
      }
    p{
        // color: $secondColor;
        color: white;
        @include fonts($mainFont, 20px);
    }
// }
.title{
    margin: 40px 15px 20px;
    @include flexbox(row, nowrap, center, center);
    @include fonts($mainFont, 30px);
    h3{
        margin-right: 10px;
    }
    h4{
        margin-right: 15px;
        // font-family: $mainFont;
    }    
}
.orange{
    color: $mainColor;
}
.gray{
    color: $secondColor;
}
.new-products{
    @include flexbox(row, wrap, center, center);
    background-color: white;
    margin-bottom: 15px;
    .product{
       margin: 20px;
       @include dimentions(220px,300px);
       @include flexbox(column, wrap, flex-start, center);
       @include fonts($mainFontF,15px);
       background-color: white;
       border-radius: 5px;
       box-shadow: 0 0 5px 0 gray;
       .p-image{
        @include dimentions(220px,200px);
        margin-bottom: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        }
        p{
          color:$secondColor;
          text-align: center;
        }
        h6{
          color: $mainColor;
        }
    }
}
.best-salers{ 
    @include flexbox(row, wrap, center, center);
    background-color: white;
    margin-bottom: 15px;
    .product{
       margin: 20px;
       @include dimentions(200px,280px);
       @include flexbox(column, wrap, flex-start, center);
       @include fonts($mainFontF,15px);
       background-color: white;
       border-radius: 5px;
       box-shadow: 0 0 5px 0 gray;
       .p-image{
        @include dimentions(200px,180px);
        margin-bottom: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        }
        p{
          color:$secondColor;
          text-align: center;
        }
        h6{
          color: $mainColor;
        }
    }
 }
.switch{
    height: 60px;
    @include flexbox(row, nowrap, center, center);
    background-color: white;
    div{
        @include dimentions(8px, 8px);
        border: 1px solid $mainColor;
        border-radius: 50%;
        margin: 5px;
        // background-color: $mainColor;
        // &:active{
            // background-color: $mainColor;
            // }
        &:hover{
            background-color: $mainColor;
            }
    }
}



@media screen and (max-width: 970px){

.bg-im{
    height: 45vw;
    h1{
        @include fonts($mainFont, 30px);
    }
}

}
