<!-- <p>home works!</p> -->
<main>
    <div class="bg-im"></div>
    <div class="main-text">
        <h1>Lorem ipsum dolor.</h1>
        <p>Placeat obcaecati officiis. Ratione.</p>
    </div>
</main>


<!-- <carousel [isAnimated]="true"> -->
    <!-- <slide> -->
      <!-- <img src="assets/images/nature/1.jpg" alt="first slide" style="display: block; width: 100%;"> -->
    <!-- </slide> -->
    <!-- <slide> -->
      <!-- <img src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;"> -->
    <!-- </slide> -->
    <!-- <slide> -->
      <!-- <img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;"> -->
    <!-- </slide> -->
  <!-- </carousel> -->
<app-carousel></app-carousel>
<div class="title">
    <h3 class="orange">НОВІ</h3>
    <h3 class="gray">НАДХОДЖЕННЯ</h3>
</div>
<div class="new-products">
    <div class="product">
        <img class="p-image" src="../../../assets/images/b-ametyst.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
    </div>
    <div class="product">
        <img class="p-image" src="../../../assets/images/one.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
    </div>
    <div class="product">
        <img class="p-image" src="../../../assets/images/koral.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
    </div>
    <div class="product">
        <img class="p-image" src="../../../assets/images/rose-cv.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
    </div>
</div>
<div class="switch">
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
</div>
<!-- <span [ngSwitch]=""> -->
<!-- <p *ngSwitchCase="true"> -->

<!-- </p> -->
<!-- <p *ngSwitchCase="false"> -->

<!-- </p> -->
<!-- <p *ngSwitchDefault> -->

<!-- </p> -->
<!-- </span> -->
<div class="title">
    <h3 class="orange">ТОП</h3>
    <h3 class="gray">ПРОДАЖ</h3>
</div>
<div class="best-salers">
    <div class="product">
        <img class="p-image" src="../../../assets/images/green.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
    </div>
    <div class="product">
        <img class="p-image" src="../../../assets/images/green.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
    </div>
    <div class="product">
        <img class="p-image" src="../../../assets/images/rose-cv.jpg" alt="">
       <p>Браслет з аметисту</p>
       <h6>100</h6>
    </div>
</div>
