<main>
    <div class="bg-im"><h1>ПРИКРАСИ З НАТУРАЛЬНОГО КАМІННЯ</h1>
        <p>Класичні та авторські вироби</p></div>
    <!-- <div class="title" style="margin: 10px 0 0 0;"> -->
        <!-- <h4 class="orange" >КОЛЕКЦІЇ</h4> -->
        <!-- <h4 class="gray">ПРИКРАС</h4> -->
    <!-- </div> -->
    <!-- <app-carousel></app-carousel> -->
    <div class="title">
        <h3 class="orange">НОВІ</h3>
        <h3 class="gray">НАДХОДЖЕННЯ</h3>
    </div>
    <div class="new-products">
        <div class="product" *ngFor="let prod of fourProd">
            <img [routerLink]="[ '/menu/'+prod.category.nameEN, prod.id ]" class="p-image" [src]="prod?.image" alt="">
            <a [routerLink]="[ '/menu/'+prod.category.nameEN, prod.id ]">{{prod?.nameUA}}</a>
            <h6>{{prod?.price}} <i>грн</i></h6>
        </div>
    </div>
    <div class="switch">
        <div (click)="first()"></div>
        <div (click)="second()"></div>
        <div (click)="third()"></div>
    </div>

    <div class="title">
        <h3 class="orange">ТОП</h3>
        <h3 class="gray">ПРОДАЖ</h3>
    </div>
    <div class="best-salers">
        <div class="product" *ngFor="let prod of newProd">
            <img [routerLink]="[ '/menu/'+prod.category.nameEN, prod.id ]" class="p-image" [src]="prod?.image" alt="">
            <a [routerLink]="[ '/menu/'+prod.category.nameEN, prod.id ]">{{prod?.nameUA}}</a>
            <h6>{{prod?.price}} <i>грн</i></h6>
        </div>
    </div>
</main>