@font-face{
    font-family: 'Roboto,300';
    src: url('../../assets/fonts/Robotoo/Roboto-Light.ttf');
}
@font-face{
    font-family: 'Roboto,400';
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Roboto,500';
    src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face{
    font-family: 'Roboto,700';
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face{
    font-family: 'Roboto,900';
    src: url('../../assets/fonts/Roboto/Roboto-Black.ttf');
}

// -------------------------------------------------------------

@font-face{
    font-family: 'Montserrat,400';
    src: url('../../assets/fonts/Montserratt/Montserrat-Regular.ttf');
}
@font-face{
    font-family: 'Montserrat,500';
    src: url('../../assets/fonts/Montserratt/Montserrat-Medium.ttf');
}

@font-face{
    font-family: 'Montserrat,600';
    src: url('../../assets/fonts/Montserratt/Montserrat-SemiBold.ttf');
}

@font-face{
    font-family: 'Montserrat,700';
    src: url('../../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face{
    font-family: 'Montserrat,800';
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}


