// $mainColor: #f08080;
@import './fonts';

$mainColor:#ff5912;
$secondColor: #34404b;
$secondColorLt: #495662;
$mainFontF: 'Montserrat,600';
$mainFont: 'Roboto,900';
$secondFont: 'Roboto,300','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontSizeXL: 60px;
$fontSizeL: 40px;
$fontSizeM: 30px;
$fontSizeS: 18px;
$fontSizeXS: 16px;
$lineHeightXL: 70px