@import '../../common_scss/variables';

.productImage{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 100%;
        height: 100%;
        margin-right: 20px;
    }
    span{
        width: 40px;
        height: 40px;
    }
    span:hover{
        cursor: pointer;
        box-shadow: 0 0 3px 0 gray;
    }
}
.progress-bg{
    background-color: $mainColor;
}
.bt{
    background-color: $mainColor;
    font-size: 16px;
    font-weight: 500;
    color: white;
    &:hover{
        box-shadow: 0 0 4px 1px $mainColor;
    }
}