<div class="container">
    <h3>Як вибрати свій камінь</h3>
    <img class="title-img" src="../../../assets/more/ametyst.jpg" alt="">
    <div class="entrens">
        <span>Існує</span> багато критеріїв: можна обирати камінь за знаком зодіаку, місяцем року, за планетoю,
        іменем, місячним календарем та ін. Проте тут ви знайдете
        співпадіння не завжди. Більшість літотерапевтів сходяться на одному - головне, щоб камінь вам подобався!
        Здатність
        відчувати певний об'єкт
        називають емпатією. Кожен в певній мірі володіє нею. Якщо камінь вам підходить, то
        ви відчуваєте приплив сил та енергії, поліпшуються життєві позиції в різних сферах
        життя. У виборі вам також допоможе інформація про <b><a href="#a1"> лікувальні та магічні властивості
                каменів</a></b>.
        Крім того ви можете скористатися наведеним нижче списком каменів для знаків зодіаку.
    </div>
    <h4>Камені по знаку зодіака за місяцями</h4>
    <div class="zodiac-containerM">
        <div class="zodiac-item">
            <div class="zodiac-icon icon1"></div>
            <div class="list">
                <p class="zM-name">Козеріг (22.12 - 20.01)</p>
                <p class="zodiac-list">Агат, гранат, малахит, обсидиан, оникс, опал, раухтопаз, рубин, сердолик,
                    тигровый глаз, турмалин, яшма</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon2"></div>
            <div class="list">
                <p class="zM-name">Водолій(21.01 - 20.02)</p>
                <p class="zodiac-list">Аквамарин, амазонит, аметист, лазурит, оникс, сапфир, танзанит, топаз,
                    хризоколла. </p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon3"></div>
            <div class="list">
                <p class="zM-name">Риби (21.02 - 20.03)</p>
                <p class="zodiac-list">квамарин, аметист, жемчуг, изумруд, коралл, лунный камень, опал, перидот
                    (хризолит), перламутр, рутиловый кварц, сапфир, шпинель.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon4"></div>
            <div class="list">
                <p class="zM-name">Овен (21.03 - 20.04)</p>
                <p class="zodiac-list">Агат, аметист, гелиотроп, лазурит, оникс, рубин, серафинит, сердолик, тигровый
                    глаз, флюорит.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon5"></div>
            <div class="list">
                <p class="zM-name">Телець (21.04 - 20.05)</p>
                <p class="zodiac-list">Аквамарин, аметист, бирюза, гранат, изумруд, кианит, малахит, розовый кварц,
                    сапфир, яшма.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon6"></div>
            <div class="list">
                <p class="zM-name">Близнюки(21.05 - 21.06)</p>
                <p class="zodiac-list">Агат, лабрадорит, лунный камень, малахит, мукаит, нефрит, тигровый глаз, топаз,
                    турмалин, цитрин.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon7"></div>
            <div class="list">
                <p class="zM-name">Рак (22.06 - 22.07)</p>
                <p class="zodiac-list">Агат, аквамарин, жемчуг, изумруд, лунный камень, оникс, силлиманит, танзанит,
                    топаз, халцедон.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon8"></div>
            <div class="list">
                <p class="zM-name">Лев (23.07 - 23.08)</p>
                <p class="zodiac-list">Гранат, лабрадорит, опал, родохрозит, рубин, сапфир, сердолик, цитрин, шпинель,
                    янтарь.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon9"></div>
            <div class="list">
                <p class="zM-name">Діва (24.08 - 23.09)</p>
                <p class="zodiac-list">Авантюрин, агат, лимонный кварц, нефрит, хризолит, розовый кварц, рутиловый
                    кварц, сапфир, сердолик, тигровый глаз.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon10"></div>
            <div class="list">
                <p class="zM-name">Терези (24.09 - 23.10)</p>
                <p class="zodiac-list">Аквамарин, аметист, изумруд, лабрадорит, лунный камень, опал, пренит, сапфир,
                    топаз, турмалин.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon11"></div>
            <div class="list">
                <p class="zM-name">Скорпіон (24.10 - 22.11)</p>
                <p class="zodiac-list">александрит, аметист, апатит, болдер опал, гранат, лабрадорит, морганит, титанит,
                    хромдиопсид. </p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon12"></div>
            <div class="list">
                <p class="zM-name">Стрілець (23.11 - 21.12)</p>
                <p class="zodiac-list">агат, аквамарин, аметист, гранат, изумруд, опал, хризолит, раухтопаз, рубин,
                    сапфир, топаз, турмалин.</p>
            </div>
        </div>

    </div>
    <!-- <h4>Камені по знаку зодіака за роками</h4> -->
    <!-- <div class="zodiac-containerY"> -->
    <!-- <div class="zodiac-item"> -->
    <!-- <div class="zodiac-icon"></div> -->
    <!-- <p class="zodiac-list"></p> -->
    <!-- </div> -->
    <!-- </div> -->
    <a name="a1"></a>
    <h4 >Лікувальні та магічні властивості каменів</h4>
    <hr>
    <div class="stones-list">
        <div class="part1">
            <a href="">Авантюрин</a>
            <a href="">Aгат</a>
            <a href="">Aквамарин</a>
            <a href="">Aамазоніт</a>
            <a href="">Aметист</a>
            <a href="">Бірюза</a>
            <a href="">Бурштин</a>
            <a href="">Волове око</a>
            <a href="">Варисцит</a>
            <a href="">Гематит</a>
            <a href="">Гірський кришталь</a>
            <a href="">Гранат</a>
            <a href="">Жадеїт</a>
        </div>
        <div class="part2">
            <a href="">Змієвик</a>
            <a href="">Кахолонг</a>
            <a href="">Кварц</a>
            <a href="">Корал</a>
            <a href="">Котяче око</a>
            <a href="">Лабрадор</a>
            <a href="">Лава вулканічна</a>
            <a href="">Лазурит</a>
            <!-- <a href="">Ларімар</a> -->
            <a href="">Малахіт</a>
            <a href="">Місячний камінь</a>
            <a href="">Нефрит</a>
            <a href="">Обсидіан</a>
            <a href="">Онікс</a></div>
        <div class="part3">
            <a href="">Опал</a>
            <a href="">Перламутр</a>
            <a href="">Перли</a>
            <!-- <a href="">Пірит</a> -->
            <a href="">Раухтопаз</a>
            <a href="">Родоніт</a>
            <a href="">Рожевий кварц</a>
            <a href="">Рубін</a>
            <a href="">Рутиловий кварц</a>
            <a href="">Сапфір</a>
            <a href="">Сардрнікс</a>
            <a href="">Сердолік</a>
            <a href="">Содаліт</a>
            <a href="">Соколине око</a>
        </div>
        <div class="part4">
            <a href="">Тигрове око</a>
            <a href="">Турмалін</a>
            <a href="">Флюорит</a>
            <a href="">Халцедон</a>
            <a href="">Хризоколла</a>
            <a href="">Хризопраз</a>
            <a href="">Циркон</a>
            <a href="">Цитрин</a>
            <a href="">Цоизит</a>
            <a href="">Чароїт</a>
            <a href="">Шпінель</a>
            <a href="">Шунгіт</a>
            <a href="">Яшма</a>
        </div>
    </div>
    <section class="stone-properies" id="prop">
        <hr>
        <h5 class="stone-name-properties">Авантюрин</h5>
        <div>
            <!-- <img src="../../../assets/more/avanturyn.bmp" class="stone-prop-img" alt=""> -->
        <p><img src="../../../assets/more/avanturyn.bmp" class="stone-prop-img" alt="">
            В первую очередь магические свойства авантюрина связаны с лунным циклом. Не рекомендуется носить украшения с
            этим камнем от новолуния до полнолуния, т.е. на растущую луну, так как это может привлечь неудачи и
            проблемы.
            <br>
            По одной из версий авантюрин является амулетом в любовных отношениях, но не стоит носить его постоянно, ведь
            он изменчив и капризен. Его можно надеть, если начинаете какое-то важное дело и хотите заручиться поддержкой
            Фортуны.
            <br>
            Существует мнение, что за игровым столом авантюрин также способен принести владельцу большую удачу, но если
            использовать украшение с авантюрином постоянно, то можно разориться.
            <br>
            <br>
            Что же касается целебных свойств, то этот камень следует надевать людям, которые имеют проблемы с кожным
            покровом. Для выздоровления надо либо ежедневно делать массаж пораженного участка кожи, либо носить
            украшение с авантюрином на этом месте.
            <br>
            Заболевания верхних дыхательных путей, например, бронхит — пройдут быстрее, если будете носить кулон с
            авантюрином на шее.
            Помимо перечисленного, камень обладает способностью очищать кровь и препятствует выпадению волос.
        </p>
    </div>
    </section>

</div>