<div class="container">
    <div class="arrow-up" (click)="scrollToElement(top)"></div>
    <!-- <h3>Як вибрати свій камінь</h3> -->
    <!-- <div class="title-st"> -->
    <!-- <img class="title-img" src="../../../assets/more/indigo.bmp" alt=""> -->
    <!-- <div class="title-text"> -->
    <!-- <span>Існує</span> багато критеріїв: можна обирати камінь за знаком зодіаку, місяцем року, за планетoю, -->
    <!-- іменем, місячним календарем та ін. Проте тут ви знайдете -->
    <!-- співпадіння не завжди. Більшість літотерапевтів сходяться на одному - головне, щоб камінь вам подобався! -->
    <!--жен в певній мірі володіє нею. Якщо камінь вам підходить, то -->
    <!-- ви відчуваєте приплив сил та енергії, поліпшуються життєві позиції в різних сферах -->
    <!-- життя. У виборі вам також допоможе інформація про <i><a href="#prop"> лікувальні та магічні властивості -->
    <!-- каменів</a></i>. -->
    <!-- Крім того ви можете скористатися наведеним нижче списком каменів для знаків зодіаку. -->
    <!-- </div> -->
    <!-- </div> -->

    <!-- <h4>Камені по знаку зодіака за роками</h4> -->
    <!-- <div class="zodiac-containerY"> -->
    <!-- <div class="zodiac-item"> -->
    <!-- <div class="zodiac-icon"></div> -->
    <!-- <p class="zodiac-list"></p> -->
    <!-- </div> -->
    <!-- </div> -->
    <h4 #top>Лікувальні та магічні властивості каменів</h4>
    <hr>
    <!-- <div class="line"></div> -->
    <div class="stones-list" #target>
        <div class="part1">
            <a (click)="scrollToElement(avanturyn)">Авантюрин</a>
            <a (click)="scrollToElement(agat)">Aгат</a>
            <a (click)="scrollToElement(akvamaryn)">Aквамарин</a>
            <a (click)="scrollToElement(amazonit)">Aамазоніт</a>
            <a (click)="scrollToElement(ametyst)">Aметист</a>
            <a (click)="scrollToElement(biruza)">Бірюза</a>
            <a (click)="scrollToElement(target)">Бурштин</a>
            <a (click)="scrollToElement(target)">Волове око</a>
            <a (click)="scrollToElement(target)">Варисцит</a>
            <a (click)="scrollToElement(gematyt)">Гематит</a>
            <a (click)="scrollToElement(girskyjKrystal)">Гірський кришталь</a>
            <a (click)="scrollToElement(govlit)">Гoвліт</a>
            <a (click)="scrollToElement(granat)">Гранат</a>
            <a (click)="scrollToElement(target)">Жадеїт</a>
        </div>
        <div class="part2">
            <a (click)="scrollToElement(target)">Змієвик</a>
            <a (click)="scrollToElement(target)">Кахолонг</a>
            <a (click)="scrollToElement(target)">Кварц</a>
            <a (click)="scrollToElement(coral)">Корал</a>
            <a (click)="scrollToElement(target)">Котяче око</a>
            <a (click)="scrollToElement(target)">Лабрадор</a>
            <a (click)="scrollToElement(target)">Лава вулканічна</a>
            <a (click)="scrollToElement(target)">Лазурит</a>
       <!-- <a (click)="scrollToElement(target)">Ларімар</a> -->
            <a (click)="scrollToElement(target)">Малахіт</a>
            <a (click)="scrollToElement(target)">Місячний камінь</a>
            <a (click)="scrollToElement(target)">Нефрит</a>
            <a (click)="scrollToElement(target)">Обсидіан</a>
            <a (click)="scrollToElement(target)">Онікс</a></div>
        <div class="part3">
            <a (click)="scrollToElement(target)">Опал</a>
            <a (click)="scrollToElement(target)">Перламутр</a>
            <a (click)="scrollToElement(perls)">Перли</a>
       <!-- <a (click)="scrollToElement(target)">Пірит</a> -->
            <a (click)="scrollToElement(target)">Раухтопаз</a>
            <a (click)="scrollToElement(target)">Родоніт</a>
            <a (click)="scrollToElement(target)">Рожевий кварц</a>
            <a (click)="scrollToElement(target)">Рубін</a>
            <a (click)="scrollToElement(target)">Рутиловий кварц</a>
            <a (click)="scrollToElement(target)">Сапфір</a>
            <a (click)="scrollToElement(target)">Сардрнікс</a>
            <a (click)="scrollToElement(target)">Сердолік</a>
            <a (click)="scrollToElement(target)">Содаліт</a>
            <a (click)="scrollToElement(target)">Соколине око</a>
        </div>
        <div class="part4">
            <a (click)="scrollToElement(target)">Тигрове око</a>
            <a (click)="scrollToElement(target)">Турмалін</a>
            <a (click)="scrollToElement(target)">Флюорит</a>
            <a (click)="scrollToElement(target)">Халцедон</a>
            <a (click)="scrollToElement(target)">Хризоколла</a>
            <a (click)="scrollToElement(target)">Хризопраз</a>
            <a (click)="scrollToElement(target)">Циркон</a>
            <a (click)="scrollToElement(target)">Цитрин</a>
            <a (click)="scrollToElement(target)">Цоизит</a>
            <a (click)="scrollToElement(target)">Чароїт</a>
            <a (click)="scrollToElement(target)">Шпінель</a>
            <a (click)="scrollToElement(target)">Шунгіт</a>
            <a (click)="scrollToElement(target)">Яшма</a>
        </div>
    </div>
    <hr>
    <h4>Камені по знаку зодіака</h4>
    <div class="zodiac-containerM">
        <div class="zodiac-item">
            <div class="zodiac-icon icon1"></div>
            <div class="list">
                <p class="zM-name">Козеріг (22.12 - 20.01)</p>
                <p class="zodiac-list">Агат, гранат, малахит, обсидиан, оникс, опал, раухтопаз, рубин, сердолик,
                    тигровый глаз, турмалин, яшма</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon2"></div>
            <div class="list">
                <p class="zM-name">Водолій(21.01 - 20.02)</p>
                <p class="zodiac-list">Аквамарин, амазонит, аметист, лазурит, оникс, сапфир, танзанит, топаз,
                    хризоколла. </p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon3"></div>
            <div class="list">
                <p class="zM-name">Риби (21.02 - 20.03)</p>
                <p class="zodiac-list">квамарин, аметист, жемчуг, изумруд, коралл, лунный камень, опал, перидот
                    (хризолит), перламутр, рутиловый кварц, сапфир, шпинель.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon4"></div>
            <div class="list">
                <p class="zM-name">Овен (21.03 - 20.04)</p>
                <p class="zodiac-list">Агат, аметист, гелиотроп, лазурит, оникс, рубин, серафинит, сердолик, тигровый
                    глаз, флюорит.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon5"></div>
            <div class="list">
                <p class="zM-name">Телець (21.04 - 20.05)</p>
                <p class="zodiac-list">Аквамарин, аметист, бирюза, гранат, изумруд, кианит, малахит, розовый кварц,
                    сапфир, яшма.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon6"></div>
            <div class="list">
                <p class="zM-name">Близнюки(21.05 - 21.06)</p>
                <p class="zodiac-list">Агат, лабрадорит, лунный камень, малахит, мукаит, нефрит, тигровый глаз, топаз,
                    турмалин, цитрин.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon7"></div>
            <div class="list">
                <p class="zM-name">Рак (22.06 - 22.07)</p>
                <p class="zodiac-list">Агат, аквамарин, жемчуг, изумруд, лунный камень, оникс, силлиманит, танзанит,
                    топаз, халцедон.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon8"></div>
            <div class="list">
                <p class="zM-name">Лев (23.07 - 23.08)</p>
                <p class="zodiac-list">Гранат, лабрадорит, опал, родохрозит, рубин, сапфир, сердолик, цитрин, шпинель,
                    янтарь.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon9"></div>
            <div class="list">
                <p class="zM-name">Діва (24.08 - 23.09)</p>
                <p class="zodiac-list">Авантюрин, агат, лимонный кварц, нефрит, хризолит, розовый кварц, рутиловый
                    кварц, сапфир, сердолик, тигровый глаз.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon10"></div>
            <div class="list">
                <p class="zM-name">Терези (24.09 - 23.10)</p>
                <p class="zodiac-list">Аквамарин, аметист, изумруд, лабрадорит, лунный камень, опал, пренит, сапфир,
                    топаз, турмалин.</p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon11"></div>
            <div class="list">
                <p class="zM-name">Скорпіон (24.10 - 22.11)</p>
                <p class="zodiac-list">александрит, аметист, апатит, болдер опал, гранат, лабрадорит, морганит, титанит,
                    хромдиопсид. </p>
            </div>
        </div>
        <div class="zodiac-item">
            <div class="zodiac-icon icon12"></div>
            <div class="list">
                <p class="zM-name">Стрілець (23.11 - 21.12)</p>
                <p class="zodiac-list">агат, аквамарин, аметист, гранат, изумруд, опал, хризолит, раухтопаз, рубин,
                    сапфир, топаз, турмалин.</p>
            </div>
        </div>
    </div>
    <div class="stone-properies" id="prop">
        <hr>
        <h5 class="stone-name-properties">Авантюрин</h5>
        <div class="about-st" #avanturyn>
            <!-- <img src="../../../assets/more/avanturyn.bmp" class="stone-prop-img" alt=""> -->
            <p><img src="../../../assets/more/avanturyn.bmp" class="stone-prop-img" alt="">
                Магические свойства авантюрина связаны с лунным циклом. Не рекомендуется носить
                украшения с
                этим камнем от новолуния до полнолуния, т.е. на растущую луну, так как это может привлечь неудачи и
                проблемы.
                <br>
                <br>
                По одной из версий авантюрин является амулетом в любовных отношениях, но не стоит носить его постоянно,
                ведь
                он изменчив и капризен. Его можно надеть, если начинаете какое-то важное дело и хотите заручиться
                поддержкой
                Фортуны.
                <br>
                Существует мнение, что за игровым столом авантюрин также способен принести владельцу большую удачу,
                но
                если
                использовать украшение с авантюрином постоянно, то можно разориться.
                <br>
                <br>
                Что же касается целебных свойств, то этот камень следует надевать людям, которые имеют проблемы с
                кожным
                покровом. Для выздоровления надо либо ежедневно делать массаж пораженного участка кожи, либо носить
                украшение с авантюрином на этом месте.
                <br>
                <br>
                Заболевания верхних дыхательных путей, например, бронхит — пройдут быстрее, если будете носить кулон
                с
                авантюрином на шее.
                Помимо перечисленного, камень обладает способностью очищать кровь и препятствует выпадению волос.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Агат</h5>
        <div class="about-st" #agat>
            <p><img src="../../../assets/more/agat.bmp" class="stone-prop-img" alt="">
                Считается, что агат приносит здоровье, счастье и долголетие. Агаты красных оттенков символизируют любовь
                и преданность, раньше такими камнями обменивались влюбленные, если им предстояла длительная разлука.
                <br>
                <br>
                Самым сильным всегда считался черный агат, он укреплял дух, оберегал от зла. Черные камни часто
                использовались в магических ритуалах. Агату приписывается способность вбирать в себя отрицательную
                энергию, защищая от нее владельца, поэтому литотерапевты рекомендуют очищать камень от негатива,
                промывая его в проточной воде.
                <br>
                <br>
                Агат использовали также как лечебное средство. Перетертый в порошок минерал применяли как противоядие
                при укусах змей и скорпионов, им также омывали раны для скорейшего заживления. Чтобы облегчить болезни
                дыхательных путей, камень носят в виде бус и брошей; для нормализации сердечной деятельности агат
                принято носить на левой руке, а в качестве успокоительного средства — на правой.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Аквамарин</h5>
        <div class="about-st" #akvamaryn>
            <p><img src="../../../assets/more/akvamaryn.jpg" class="stone-prop-img" alt="">
                С древних времён аквамарин считался счастливым камнем мореходов. Легенды рассказывают о том, как сирены
                хранили аквамарин в своих сокровищницах и предлагали самоцвет морякам, оказавшимся в открытом океане во
                время шторма.
                <br>
                <br>
                По сей день аквамарины считаются магическими «барометрами» — изменение цвета камня с ясного и чистого на
                мутный и темный говорит об эмоциональном или физическом недуге его владельца.
                <br>
                <br>
                Хотя лечебные свойства в древности приписывали почти всем драгоценным камням, аквамарин считался одним
                из самых сильных лекарей: в манускриптах многовековой давности аквамарин называют панацеей от артрита,
                воспаления глаз, боли в горле и морской болезни. Кроме того, спокойный неповторимый цвет камня помогает
                вернуть душевное равновесие, восстановить нервную систему и избавить от тоски.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Амазоніт</h5>
        <div class="about-st" #amazonit>
            <p><img src="../../../assets/more/amazonit.bmp" class="stone-prop-img" alt="">
                Аравийцы носили амазонит для устранения головных болей, а также в качестве защиты от солнечных ударов.
                Сегодня рекомендуется использовать минерал при заболеваниях позвоночника, варикозном расширении вен,
                тромбозах, целлюлите, ожирении.
                <br>
                <br>
                Известен также и косметический эффект амазонита: он омолаживает кожу, разглаживает морщинки, возвращает
                упругость и помогает очищать поры.
                <br>
                <br>
                Магические свойства амазонита тоже давно и хорошо известны. Он способен уберечь от необдуманных решений,
                привлечь удачу, рассеять негативную энергию. Кроме того, того, кто носит камень постоянно, амазонит
                наделяет ясностью мысли и спокойствием.
                <br>
                Минерал используется в процессе медитации, ритуалах белой магии.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Аметист</h5>
        <div class="about-st" #ametyst>
            <p><img src="../../../assets/more/ametyst.jpg" class="stone-prop-img" alt="">
                Камню с древних времен приписывается множество лечебных и магических свойств. Считается, что аметист
                способен исцелить от головной боли (если его положить на голову), от простуды (если выпить воду, в
                которой перед этим сутки лежал камень), от бессонницы и даже нервных срывов.
                <br>
                <br>
                Но помогает аметист не только от физических недугов. При депрессии он помогает воспрять духом, в работе
                помогает концентрироваться и способствует развитию памяти, в отношениях способствует укреплению чувств,
                оберегает от искушений.
                <br>
                <br>
                Значение аметиста для влюбленных всегда было велико: девушки и юноши, нашедшие свою «половинку», носили
                этот камень в перстне или кулоне, чтобы чувства никогда не охладели, а союз — не распался. Если же
                случилась трагедия и женщина или мужчина овдовели, то они носили этот камень в знак вечной,
                непреодолимой любви, которую не способна разрушить даже смерть.
                <br>
                <br>
                Аметист — камень мира и искренности. Существует мнение, что он способен помочь развить внутренний мир
                носителя, его интуицию, а порой и прозорливость.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Бірюза</h5>
        <div class="about-st" #biruza>
            <p><img src="../../../assets/more/biruza.bmp" class="stone-prop-img" alt="">
                Бирюза считается счастливым и добрым камнем. Она несет в себе сильную защитную силу, матери часто делали
                обереги из бирюзы для своих детей, чтобы отогнать злых духов, болезни и дурные сны.
                <br>
                <br>
                Камень несет в себе женскую энергетику, приносит в дом тепло и уют, наделяет житейской мудростью и
                интуицией, помогает сохранить и преумножить семейный бюджет. Чтобы привлечь деньги, бирюзу непременно
                оправляли в золото. Если же человек ищет любовь, он должен носить бирюзу в серебре.
                <br>
                <br>
                Помимо магических свойств бирюза, особенно голубая, способна стать талантливым лекарем. Она благоприятно
                воздействует на психологическое и нервное здоровье человека. Бирюза избавляет от бессонницы,
                способствует релаксации, снимает головные боли. Ношение украшения из бирюзы на шее помогает в лечении
                заболеваний щитовидной железы.
                <br>
                <br>
                Народные целители советуют длительное рассматривание этого минерала для расслабления глазных нервов и
                улучшения зрения.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Гематит</h5>
        <div class="about-st" #gematyt>
            <p><img src="../../../assets/more/gematyt.bmp" class="stone-prop-img" alt="">
                Упоминания о гематите как о сильнейшем магическом камне встречаются в книгах и писаниях многих древних
                народов.Люди верили в защитные свойства камня. Его носили, чтобы уберечься от сглаза,
                матери надевали обереги на детей для защиты от несчастных случаев, римские воины украшали гематитом
                щиты. Для египтян камень был символом культа Исиды, из него делали жуков-скарабеев, которые служили
                земными хранителями богини.
                <br>
                <br>
                Основные целебные свойства гематита связаны с его воздействие на кровеносную систему человека. Он чистит
                кровь, укрепляет сосуды, нормализует уровень гемоглобина. При ранах и порезах гематит останавливает
                кровотечение, снимает воспаление и способствует быстрому заживлению. Кроме того, минерал оказывает
                тонизирующее действие на организм и может поднимать артериальное давление, поэтому он рекомендован людям
                с пониженным давлением, а вот гипертоникам стоит носить его с осторожностью.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Говлит</h5>
        <div class="about-st" #govlit>
            <p><img src="../../../assets/more/govlit.bmp" class="stone-prop-img" alt="">
                Основной элемент хаулита – боросиликат кальция. Бусы из говлита помогут восполнить баланс кальция в
                организме, а также укрепить
                иммунитет и повысить естественную защиту от стресса.
                <br>
                <br>
                Минерал используют во время процедур, направленных для улучшения работы сердечно-сосудистой системы и
                укрепления стенок сосудов, а также для восстановления травмированных суставов.
                <br>
                <br>
                Говлит хорошо держит тепло, благодаря чему его используют во время массажа для разогрева клиента перед
                непосредственными лечебными манипуляциями.
                <br>
                <br>
                Хотя говлит официально был описан только в конце XIX века, но известен минерал был с древних времён. Его
                часто использовали в качестве помощника во время ритуалов, считая, что хаулит имеет душу, подобно живому
                существу. Из-за этого выбор талисмана был делом важным и долгим, так как важно было подобрать изделие,
                близкое по энергетике к будущему владельцу.
                <br>
                <br>
                Говлит — камень, способный расслабить психику и защитить человека от любого негатива, избавив от дурных
                мыслей. В Средние Века минерал был известен как покровитель студентов и учёных. Пористая структура камня
                ассоциировалась со способностью говлита считывать информацию из окружающей среды и передавать знания
                владельцу.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Гірський кришталь</h5>
        <div class="about-st" #girskyjKrystal>
            <p><img src="../../../assets/more/girskyjKhryshtal.bmp" class="stone-prop-img" alt="">
                Горный хрусталь во все времена был магическими камнем: считалось, что он может впитывать энергию
                потусторонних миров и передавать ее, поэтому кристаллы горного хрусталя часто использовались в
                спиритических сеансах. Египтяне вырезали из них лица усопших, для облегчения их перехода в мир мертвых.
                Есть мнение, что долгое созерцание горного хрусталя может открыть способность к ясновидению и телепатии.
                В Китае верили, что эти кристаллы могут установить связь времен и позволяют заглянуть в прошлое и
                будущее.
                <br>
                <br>
                Горный хрусталь имеет теплую и светлую энергетику, чтобы ее усилить кристалл заряжают на солнце. Такой
                минерал будет распространять в доме живительную силу и положительную энергию. Он успокаивает,
                предупреждает ссоры и избавляет от негатива.
                <br>
                <br>
                Горный хрусталь стимулирует умственную активность, обостряет восприимчивость мозга к информации,
                улучшает память. Он оказывает общеукрепляющее и оздоравливающее воздействие на организм в целом. В Китае
                заостренные кристаллы и сегодня используют для точечного массажа. В Тибете, освещая травмированные места
                лучами солнца, пропускаемыми через шары из горного хрусталя, излечивают раненых.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Гранат</h5>
        <div class="about-st" #granat>
            <p><img src="../../../assets/more/granat.bmp" class="stone-prop-img" alt="">
                Гранат, известный в первую очередь как камень яркого насыщенного красного цвета, считается камнем
                страстей, эмоций, желаний. Он активизирует жизненную энергию человека, дарит вдохновение и силы на
                реализацию самых сложных затей и планов. Зеленые же гранаты в свою очередь притягивают деньги,
                увеличивают благосостояние владельца, приносят удачу.
                <br>
                <br>
                В Персии гранат считался камнем, дарующим власть и способность управлять людьми. Крестоносцы верили, что
                перстень с гранатом способен защитить их от ранений в бою, а на Востоке минерал символизировал упорство,
                преданность и крепкое здоровье.
                <br>
                <br>
                Во времена Средневековья гранат растирали до порошка и смешивали с водой, чтобы лечить желудок и
                восстанавливать бодрость.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Корал</h5>
        <div class="about-st" #coral>
            <p><img src="../../../assets/more/koral.bmp" class="stone-prop-img" alt="">
                Кораллы обладают сильными защитными свойствами, причем чтобы отогнать колдовские чары, носить их нужно
                непременно на виду. Мода на коралловые бусы пришла к нам еще от индейцев майя, которые носили их в
                качестве оберега от злых сил. Считалось, что если камень ломался или трескался, то волшебный дух покидал
                его.
                <br>
                <br>
                Древние греки приписывали розовым кораллам способность даровать бессмертие. Их считали кровью медузы,
                собранной морскими нимфами. Красные кораллы во многих культурах являлись хранителями семейного счастья.
                На Руси коралл считался магическим камнем, а также символом мудрости и скромности.
                <br>
                <br>
                Лечебных свойств у коралла тоже очень много. Народные целители прописывали перетертый в порошок богатый
                йодом коралл больным при нарушении работы щитовидной железы. Он был также популярным средством
                заживления язв желудка и кишечника. Благодаря большому содержанию кальция коралловый порошок широко
                использовали для лечения переломов и заболеваний костей.
                <br>
                <br>
                Особенно примечательно то, что даже современная медицина подтверждает, что кальций, йод и другие
                минеральные вещества, входящие в состав коралла, легко и эффективно усваиваются человеческим организмом.
            </p>
        </div>

        <hr>
        <h5 class="stone-name-properties">Перли</h5>
        <div class="about-st" #perls>
            <p><img src="../../../assets/more/perls.bmp" class="stone-prop-img" alt="">
                Натуральный морской жемчуг — кладезь ценных микроэлементов, и именно это его свойство чаще всего
                использовалось в лечебных целях. Иногда на камне выдерживали воду, иногда растирали до состояния
                мельчайшего порошка, но в итоге его принимали внутрь, чтобы организм насытился всеми полезными
                веществами. Сегодня даже в массовой косметике используется этот органоминерал для укрепления волос,
                ногтей и даже омоложения кожи.
                <br>
                С древних времен жемчуг ассоциировали с красотой, невинностью и искренними чувствами. Так, в Древнем
                Риме это был камень богини любви и красоты Венеры (даже на картине Сандро Боттичелли «Рождение Венеры»
                богиня стоит в створке огромной раковины).
                <br>
                Кроме того, многие считают жемчуг способным приносить своему владельцу большую удачу, в том числе
                финансовую. Необыкновенный драгоценный камень принесет гармонию и покой в сердце, убережет от чужих
                дурных мыслей.
            </p>
        </div>






    </div>

</div>