@import '../../common_scss/mixins';
@import '../../common_scss/variables';


.container{
    .arrow-up{
        position: fixed;
        right: 15px;
        bottom: 15px;
        width: 40px;
        height: 40px;
        background-image: url('../../../assets/icons/angle-double-up-dark.svg');
        &:hover{
           background-image: url('../../../assets/icons/angle-double-up.svg');
           }
    }

}

h3{
    margin-top: 35px;
    @include fonts($mainFont, 25px);
    color: $secondColor;
}
.title-st{
    min-height: 370px;
    background-color: white;
    padding:20px;
    @include flexbox(column, wrap, flex-start, flex-start);
    .title-img{
        @include dimentions(350px,350px);
        margin-right: 10px;
    }
    .title-text{
        color: $secondColor;
        line-break: loose;
        line-height: 30px;
    
    }
}
h4{
    margin-top: 20px;
    @include fonts($mainFont, 20px);
    color: $mainColor;  
    height: 50px;
    line-height: 50px;
    background-color: white;
    padding-left: 15px;
    text-align: center;
}
.zodiac-containerM{
    @include flexbox(column, wrap, flex-start, flex-start);
    .zodiac-item{
        margin-top: 15px;
        background-color: white;
        padding: 15px;
        width: 100%;
       @include flexbox(row, wrap, flex-start, flex-start);
        .zodiac-icon{
            @include dimentions(65px,65px);
            background-size: cover;
            margin-right: 15px;
            border: 1px solid rgb(226, 226, 226);
         }
         .icon1{background-image: url('../../../assets/zodiacs/Capricorn.jpg');}
         .icon2{background-image: url('../../../assets/zodiacs/Aquarius.jpg');}
         .icon3{background-image: url('../../../assets/zodiacs/Pisces.jpg');}
         .icon4{background-image: url('../../../assets/zodiacs/Aries.jpg');}
         .icon5{background-image: url('../../../assets/zodiacs/Taurus.jpg');}
         .icon6{background-image: url('../../../assets/zodiacs/Gemini.jpg');}
         .icon7{background-image: url('../../../assets/zodiacs/Cancer.jpg');}
         .icon8{background-image: url('../../../assets/zodiacs/leo.jpg');}
         .icon9{background-image: url('../../../assets/zodiacs/Virgo.jpg');}
         .icon10{background-image: url('../../../assets/zodiacs/Libra.jpg');}
         .icon11{background-image: url('../../../assets/zodiacs/Scorpio.jpg');}
         .icon12{background-image: url('../../../assets/zodiacs/Sagittarius.jpg')}
        .list{
            // height: 80px;
            max-width: 55vw;
            @include flexbox(column, wrap, flex-start, flex-start);
            p{
              line-height: 17px;
            }
            .zodiac-list{
                margin-top: -10px;
            }
        }   
    }
}
.line{
    border: 1px solid $mainColor;
    margin: 10px 0;
}
.zM-name{
    @include fonts($mainFont, 16px);
    color: $secondColor;
    line-height: 19px;
 }
.stones-list{
    @include flexbox(row, wrap, space-around, flex-start);
    background-color: white;
    padding: 15px;
    .part1, .part2, .part3, .part4{
        width: 16vw;
        @include flexbox(column, wrap, flex-start, center);
        a{
          @include fonts($mainFont, 14px);
          color: $secondColor;
          line-height: 17px;  
          text-align: center;
        }
        a:hover{
          color:$mainColor;
        }

    }

}

.stone-name-properties{
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    @include fonts($mainFont, 18px);
    color: $mainColor;
    line-height: 19px;
 }

 .stone-prop-img{
    @include dimentions(350px,300px);
    float: right;  
    margin-left: 30px;
    margin-bottom: 30px;
}
.about-st{
    min-height: 340px;
    background-color: white;
    padding:30px;
    margin-bottom: 30px;
}


@media screen and (max-width: 768px){
    .title-st{
        padding:15px;
    }
    .title-img{
        @include dimentions(420px,420px);
    }  
}