@import '../../common_scss/mixins';
@import '../../common_scss/variables';


.container-box{
    padding: 0 30px;
    .arrow-up{
        position: fixed;
        right: 15px;
        bottom: 15px;
        width: 40px;
        height: 40px;
        background-image: url('../../../assets/icons/angle-double-up-dark.svg');
        &:hover{
           background-image: url('../../../assets/icons/angle-double-up.svg');
           }
    }

}

h3{
    margin-top: 35px;
    @include fonts($mainFont, 25px);
    color: $secondColor;
}
h4{
    margin-top: 20px;
    @include fonts($mainFont, 20px);
    color: $mainColor;  
    height: 50px;
    line-height: 50px;
    background-color: white;
    padding: 0 8px;
    text-align: center;
}
.zodiac-containerM{
    @include flexbox(column, wrap, flex-start, flex-start);
    .zodiac-item{
        margin-top: 15px;
        background-color: white;
        padding: 15px;
        width: 100%;
       @include flexbox(row, wrap, flex-start, flex-start);
        .zodiac-icon{
            @include dimentions(65px,65px);
            background-size: cover;
            margin-right: 15px;
            margin-bottom: 10px;
            border: 1px solid rgb(226, 226, 226);
         }
         .icon1{background-image: url('../../../assets/zodiacs/Capricorn.jpg');}
         .icon2{background-image: url('../../../assets/zodiacs/Aquarius.jpg');}
         .icon3{background-image: url('../../../assets/zodiacs/Pisces.jpg');}
         .icon4{background-image: url('../../../assets/zodiacs/Aries.jpg');}
         .icon5{background-image: url('../../../assets/zodiacs/Taurus.jpg');}
         .icon6{background-image: url('../../../assets/zodiacs/Gemini.jpg');}
         .icon7{background-image: url('../../../assets/zodiacs/Cancer.jpg');}
         .icon8{background-image: url('../../../assets/zodiacs/leo.jpg');}
         .icon9{background-image: url('../../../assets/zodiacs/Virgo.jpg');}
         .icon10{background-image: url('../../../assets/zodiacs/Libra.jpg');}
         .icon11{background-image: url('../../../assets/zodiacs/Scorpio.jpg');}
         .icon12{background-image: url('../../../assets/zodiacs/Sagittarius.jpg')}
        .list{
            max-width: 50vw;
            @include flexbox(column, wrap, flex-start, flex-start);
            p{
              line-height: 17px;
            }
            .zodiac-list{
                margin-top: -10px;
            }
        }   
    }
}
.line{
    border: 1px solid $mainColor;
    margin: 10px 0;
}
.zM-name{
    @include fonts($mainFont, 16px);
    color: $secondColor;
    line-height: 19px;
 }
.stones-list{
    @include flexbox(row, wrap, center, flex-start);
    background-color: white;
    padding: 15px;
    div{
    @include flexbox(row, wrap, space-around, flex-start);
    }
    .part1, .part2, .part3, .part4{
        width: 19vw;
        @include flexbox(column, wrap, flex-start, center);
        a{
          @include fonts($mainFont, 14px);
          color: $secondColor;
          line-height: 17px;  
          text-align: center;
        }
        a:hover{
          color:$mainColor;
        }

    }

}

.stone-name-properties{
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    @include fonts($mainFont, 18px);
    color: $mainColor;
    line-height: 19px;
 }

 .stone-prop-img{
    @include dimentions(350px,300px);
    float: right;  
    margin-left: 30px;
    margin-bottom: 30px;
}
.about-st{
    min-height: 340px;
    background-color: white;
    padding:30px;
    margin-bottom: 30px;
}


@media screen and (max-width: 650px){
    .stone-prop-img{
    @include dimentions(280px,210px);
    margin-bottom: 15px;
    }  
}

@media screen and (max-width: 570px){
    .stones-list{
        div{
            width: 100%;
            margin-bottom: 10px;
        }
    .part1, .part2, .part3, .part4{
        width: 150px;
       }
    }
    .container-box{
        h4{
            font-size: 18px;
        }
    }
    .stone-prop-img{
    @include dimentions(72vw,56vw);
    margin: 10px 3% 15px ;
    }  
}
@media screen and (max-width: 460px){
    h4{
        padding-top: 3px;
        line-height: 22px;
    }
    .stones-list{
        .part1, .part2, .part3, .part4{
            width: 120px;
           }
    }
    .stone-prop-img{
        @include dimentions(69vw,55vw);
        margin: 10px 1% 15px ;
        }  
}
@media screen and (max-width: 380px){
    .stones-list{
        .part1, .part2, .part3, .part4{
            width: 100px;
           }
    }
    .stone-prop-img{
    @include dimentions(65vw,49vw);
    }  
}
@media screen and (max-width: 330px){
    .stones-list{
        .part1, .part2, .part3, .part4{
            width: 84px;
           }
    }
    .stone-prop-img{
    @include dimentions(60vw,44vw);
    }  
}
@media screen and (max-width: 290px){
    .stone-prop-img{
    @include dimentions(55vw,40vw);
    }  
}