<table class="table">
  <thead>
    <tr>
      <th scope="col">DEl</th>
      <th scope="col">ID</th>
      <th scope="col">uName</th>
      <th scope="col">uPh</th>
      <th scope="col">totalP.</th>
      <th scope="col">date</th>
      <th scope="col">Stat</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of adminOrders; let i=index">
      <td scope="row" (click)="deleteUserOrder(order)"><span class="crosss">&times;</span></td>
      <td>{{ order.id | slice:0:3}}</td>
      <td style="word-break: break-all;">{{ order.userName }}</td>
      <td style="word-break: break-all;">{{ order.userPhone }}</td>
      <td style="word-break: break-all;">{{ order.totalPayment }} грн</td>
      <td style="word-break: break-all;">{{ readableDate(order.dateOrder) }}</td>
      <!-- <td>{{ order.dateOrder.seconds }}</td> -->
      <td style="word-break: break-all;">{{ order.statusOrder }}</td>
      <td>
        <input type="button" value="details" class="btn btn-secondary" (click)="openDetailsModal(detailsForm,order)">
      </td>
    </tr>
  </tbody>
</table>


<!-- <ng-template #detailsForm> -->
<!-- <div class="modal-header"> -->
<!-- <h4 class="modal-title pull-left">Modal</h4> -->
<!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> -->
<!-- <span aria-hidden="true">&times;</span> -->
<!-- </button> -->
<!-- </div> -->
<!-- <div class="modal-body"> -->
<!-- This is a modal. -->
<!-- </div> -->
<!-- </ng-template> -->
<!--    -->
<ng-template #detailsForm>
  <div class="modal-header">
    <h6 class="modal-title pull-left">Detils: user <span style="color: brown;">{{currAdmOrder.userName}}</span></h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- This is a modal. -->
    <table class="table" style="padding: 15px; ">
      <thead>
        <tr>
          <!-- <td>Видалити</td> -->
          <th>Фото</th>
          <th>Назва</th>
          <th>Ксть</th>
          <th>Ціна,грн</th>
          <th>Сума,грн</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admProdOrder of currAdmOrder.productOrder; let i = index">
          <!-- <td (click)="deleteProduct(admOrder)"><span> &times; </span></td> -->
          <td> <img style="width: 50px; height:50px" [src]="admProdOrder.image" alt=""></td>
          <td>{{admProdOrder.nameUA}} </td>
          <td>{{admProdOrder.count}} </td>

          <!-- <td> -->
          <!-- <app-counter [product]="prodOrder"></app-counter> -->
          <!-- </td> -->
          <td>{{admProdOrder.price}}</td>
          <td>{{admProdOrder.count * admProdOrder.price}}</td>
        </tr>
      </tbody>
    </table>
    <div style="float: right; font-size: 18px; font-weight: 600;">
      Загальна сума: {{totalPrice}} грн
    </div>
    <!-- <hr style="margin-top: -10px;"> -->
  </div>
  <div *ngIf="currAdmOrder.userComment!==''" style="margin-top: -30px;">
    <span class="ml-3 mb-1">Коментар клієнта:</span>
    <div class="ml-3 mr-3 mt-2 border p-2"
      style="max-height: 70px; line-break: strict; word-break: break-all; overflow-y: scroll;">
      {{currAdmOrder.userComment}}</div>
  </div>
  <div class="col-12 mt-3">
    <div class="row">
      <div class="col-6  "><span>Доставка:</span> {{currAdmOrder.userDelivery}}, {{currAdmOrder.deliveryDepartment}} </div>
      <div class="col-5 "><span>Оплата:</span> {{currAdmOrder.userPaymentType}}</div>
    </div>
  </div>
  <form>
    <div class="input-group mt-2 mb-3 col-12">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Оберіть статус замовлення</label>
      </div>
      <select id="inputGroupSelect01" class="custom-select" [(ngModel)]="statusOption" name="statusOption"
        (change)="changeStatus()">
        <option value="В обробці" selected></option>
        <option value="В обробці">В обробці</option>
        <option value="Підтвержено">Підтвержено</option>
        <option value="Виконано">Виконано</option>
        <option value="Скасовано">Скасовано</option>
      </select>
    </div>
    <button class="btn btn-secondary m-3 " style="float: right;" (click)="modalRef.hide()">close</button>
  </form>
</ng-template>