<div class="catlogue-container">
  <div class="nav-prod">
      <a class="category-name" [routerLink]="[ 'menu/necklace' ]" routerLinkActive="current-category">намиста</a>
      <a class="category-name" [routerLink]="[ 'menu/bracelet' ]" routerLinkActive="current-category">браслети</a>
      <a class="category-name" [routerLink]="[ 'menu/earring' ]" routerLinkActive="current-category">сережки</a>
      <a class="category-name" [routerLink]="[ 'menu/pendant' ]" routerLinkActive="current-category">кулони</a>
  </div>

  <div class="prod-container">
    <router-outlet></router-outlet>
  </div>
</div>