@import '../../common_scss/mixins';
@import '../../common_scss/variables';
*{
    outline: none;
}
.catlogue-container{
    @include flexbox(column, wrap, flex-start, center);
    margin: -20px 0 0 0;
    position: relative;
    .nav-prod{
        position: fixed;
        top: 10;
        left: 0;
        z-index: 9;
        height: 60px;
        width: 100vw;
        padding-top: 15px;
        @include flexbox(row, wrap, center, center);
        .categories{
            @include flexbox(row, wrap, space-around, center); 
            height: 60px;
            width: 100%;
            padding: 20px;
            background-color: white;
            .category-name{
            @include fonts($mainFont, 17px);
            color: $secondColor; 
            }
            .current-category{
                color: $mainColor;
            }
        }
    }
}
.category-title{
    @include fonts($mainFont, 20px);
    color: $mainColor;  
    }


@media screen and (max-width: 768px){
    .catlogue-container{
        .nav-prod{
            width: 90vw;
            .categories{
                width: inherit;
            }
        }
    }
    
}