@import '../../common_scss/mixins';
@import '../../common_scss/variables';
*{
    outline: none;
}
.catlogue-container{
    @include flexbox(column, wrap, flex-start, center);
    position: relative;
    .nav-prod{
        position: fixed;
        top: 10;
        left: 0;
        z-index: 9;
        height: 60px;
        width: 100vw;
        padding-top: 15px;
        @include flexbox(row, wrap, space-around, space-around);
        border: 2px solid transparent;
        border-bottom-color: gray;
        background-color: white;
            .category-name{
            @include fonts($mainFont, 17px);
            color: $secondColor; 
            margin: 0 5px;
            &:hover{
                color: $mainColor;
              }
            }
            .current-category{
                color: $mainColor;
            }
    }
}
@media screen and (max-width: 315px){
    .catlogue-container{
        .nav-prod{
            padding-top: 5px;
        }
    }
}