@import '../../common_scss/mixins';
@import '../../common_scss/variables';

h4{
    margin-top: 20px;
    @include fonts($mainFont, 20px);
    color: $mainColor;  
    height: 50px;
    line-height: 50px;
    background-color: white;
    padding-left: 15px;
    text-align: center;
}
    .delivery,.payment{
        min-height: 150px;
        padding:15px;
        background-color: white;
        h6{
           @include fonts('Roboto,700', 16px);
           color:$secondColor;
           margin-top: 15px;
        }
        p, span{
            font-family: 'Roboto,400';
        }

}
.ask{
    color:$secondColor;
    margin-bottom: 20px;
}