<div class="container">

    <h4>Оплата</h4>
    <hr>
    <div class="payment">
        <h6>На карту</h6> <span>Реквізити карти буде надіслано вам менеджером після дзвінка.</span>
        <h6>Оплата при доставці</h6> <span>При отриманні товару ви оплачуєте замовлення, доставку і послугу
            "накладений платіж".</span>
        <hr>
        <p>Важливо: послугу "Оплата при доставці" ви можете обрати лише при доставці Новою поштою.</p>
    </div>
    <h4>Доставка</h4>
    <hr>
    <div class="delivery">
        <h6>Укрпошта</h6><span> - товар доставляється за 3-4 дні.</span>
        <h6>Нова пошта</h6><span> - товар доставляється за 1-2 дні.</span>
        <hr>
        <p>Замовлення оплачені до 14:00 відправляються цього ж дня.</p>
        <p>При замовленні на суму від 1000 грн доставка безкоштовна.</p>
    </div>

</div>
<hr>
<div class="container ask">Якщо у вас виникли питання, зв'яжіться з нами за телефоном: +38(097) 140 15 61</div>