<!-- <p>discount works!</p> -->
<div class="container">
    <h4>Акції</h4>
<hr>
    <div class="row">
    </div>
    <br>
    <div class="disc-cont">
        <!-- <div class="disc-info" *ngFor="let d of discounts"> -->
        <!-- <h2 [style.color]="'red'">Some text style</h2> -->
        <!-- [ngStyle]="{'background-image': 'url(' + course.imageUrl + ')'}" -->
        <div class="disc-info" *ngFor="let d of discounts">
            <!-- <div class="bg-image" [style.backgroundImage]="'url('+ d.image +')'"></div> -->
            <!-- <div class="bg-image" [style.backgroundImage]="'url('../../../../assets/images/nefryt')'"></div> -->
            <div class="bg-image" [ngStyle]="{'background-image': 'url(' + d.image + ')'}">
                <p>{{d.title}}</p>
            </div>
            <!-- <img width="450" height="450" src="../../../../assets/images/nefryt - Копія.jpg" -->
            <!-- class="attachment-full size-full" alt=""> -->
            <div class="descr">
                <p>{{d.text}}</p>
            </div>
            <a [routerLink]="[ '/catalogue' ]" class="btn bt mb-3">Перейти до покупок</a>
        </div>

    </div>

</div>